<div>
<h1>PRODUCTS</h1>

<table>
<tr>
	<td>ID</td>
	<td>TITLE</td>
	<td>DESCRIPTION</td>
	<td>CATEGORY</td>
	<td>PRICE</td>
	<td>THUMBNAIL</td>
	<td>CODE</td>
	<td>STOCK</td>
	<td>STATUS</td>
</tr>
{{#each products}}
<tr>
<td>{{this.id}}</td>
<td>{{this.title}}</td>
<td>{{this.description}}</td>
<td>{{this.category}}</td>
<td>{{this.price}}</td>
<td>{{this.thumbnail}}</td>
<td>{{this.code}}</td>
<td>{{this.stock}}</td>
<td>{{this.status}}</td>
</tr>
{{/each}}
</table>

<form action=""></form>


</div>
